<!--
  Generated template for the SobbremesasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Sobbremesas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button color="dark" (click)="voltarHome()" round>Home</button>

  <ion-card>
    <img src="../../assets/imgs/Chocolate-cake-piece-raspberries_m.jpg"/>
    <ion-card-content>
      <ion-card-title>
        bolo de chocolate
        </ion-card-title>
      <p>
        Um pedaço de bolo de chocolate.
      </p>
    </ion-card-content>
  </ion-card>
  <br/>
  <ion-card>
    <img src="../../assets/imgs/sobremesas-para-o-almoco-de-domingo.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Pudim
        </ion-card-title>
      <p>
        Pudim de leite condensado.
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>

