<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let page of pages" (click)="openPage(page)" menuClose>
      {{page.title}}
      <ion-avatar item-start>
        <img src="{{page.img}}">
      </ion-avatar>
    </button>
  </ion-list>

  <button ion-button color="secondary" (click)="openBebidas()" round>Bebidas</button>

</ion-content>