<!--
  Generated template for the RefeicaoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Refeicao</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button color="dark" (click)="voltarHome()" round>Home</button>

  <ion-card>
    <img src="../../assets/imgs/refeicoes-empresas-sp-03.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Refeições
        </ion-card-title>
      <p>
        Pratos feitos.
      </p>
    </ion-card-content>
  </ion-card>
  <br/>
  <ion-card>
    <img src="../../assets/imgs/prato-feito-goiania.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Refeições
        </ion-card-title>
      <p>
        Pratos feito de goiania.
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
